@model Agems.Sound

@{
    ViewData["Title"] = "Edit";
}
<head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <style>
    .select2-container {
          width: 100%;
          color: black;
        }
    </style>
</head>
<h1>Edit</h1>

<h4>Sound</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Author"/>
            <input type="hidden" asp-for="SoundPath" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoundFile" class="control-label"></label>
                <input type="file" asp-for="SoundFile" class="form-control" />
                <span asp-validation-for="SoundFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About" class="control-label"></label>
                <textarea asp-for="About" class="form-control" ></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="ui-widget">
                <label asp-for="Category" class="control-label"></label>

                <div class="select2-container">
                <select 
                    asp-for="CategoryId"
                    name="CategoryId" 
                    id="categories"
                    class="custom-select">
                @foreach(var item in ViewBag.Categories){
                    <option value=@item.Id style="color:black">@item.Name</option>
                }
                </select>
                </div>

                </div>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.CategoryId">Back to Sounds</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





<script src="~/js/autocomplete.js"></script>
