@page
<style>
    #win{
        position:absolute; left:50%; top:50%
    }
    #container{
        position:absolute; width:30%; height:30%; border: solid;
    }
</style>
<body>
    <div id="container">
      <button class="btn btn-primary" id="win">виграти</button>
      <button class="btn btn-primary" id="lose">програти</button>
    </div>
</body>
<script>
    var win = document.getElementById("win");
    var lose = document.getElementById("lose");
    lose.onclick = function(){
        alert("Нехай щастить!");
    };
    win.onmouseover = function(){
        win.style.left = Random(0, 100) + "%";
        win.style.top = Random(0, 100) + "%";
    };
    function Random(min, max) {
        return Math.random() * (max - min) + min;
    }
</script>