@page
@using Agems.Hubs
<head>
   
</head>
<style>
    #toolbar{
        position: fixed;
    }
    #drawing-board{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -2;
    }
    #width{
        background: inherit;
        color: inherit;
        width: 100px;
    }
</style>
<body>
        <div id="toolbar">
            <input id="color" type="color">
            <input id="width" type="number" value="5" min="1" class="form-control">
            <button id="clear" class="btn btn-primary">Clear</button> <br />
            <label id="connection"></label> <br />
            users: <label id="count"></label><br />
            <form id="sendpic_form" asp-action="SendPic" asp-controller="Telegram" method="post">
                <input id="imgurl" type="hidden" name="dataUrl"/>
             </form>
             <span class="btn btn-outline-primary" id="share_btn">Share on telegram channel</span>
        </div>
        <canvas id="drawing-board"></canvas>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/canvas.js"></script>

</body>