@page
@model UserModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            <div id="accordion" class="container-fluid">
                Welcome  @Model.Login  !!! 
                <img src = "@Model.Pic" width="50">
            </div>
        }
        else
        {
            <a  asp-controller="GithubOAuth" asp-action="Login" class="btn btn-outline-warning">Log In with GitHub</a><br />
        }
    </div>
</body>