@page
@{
    ViewData["Title"] = "Picture sent";
}
<body>
    <p>
        Congratulations! Your painting was published on <a href="https://t.me/agems_channel">agems telegram channel</a> <br />
    </p>
    <a asp-page="/Canvas">Back</a>
</body>